# Credentials
.token
credentials.json
firebase.json

# Artifacts
bot-env
.vscode
__pycache__
*.log
tmp/*.mp4
tmp/*.wav
.mypy_cache
.pytest_cache
youtube.json
spotify.json
.cache
service_credentials.json
.env
