requests
discord.py[voice]
pynacl
yt-dlp
ffmpeg-python
numpy
pyrebase4
isort
flake8
mypy
types-requests
async-timeout==3.0.1
spotipy
google-api-python-client
isodate
pytest-asyncio
python-dotenv
boto3
validators